.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;

}
th {
  text-align: left;
}

#url{
	width:400px;
}

#test{
	color: purple;
	text-align: center;
}

div{
	border: 1px solid black;
	margin-top: 50px;
	padding-left: 20px;
	width: 300px;
	margin-left: 150px;
}

.regresar {
	margin-left: 510px;
	text-align: right;
	font-size: 70%

}



