   <h1>Registro de un nuevo usuario</h1>

  <form action="/create" method="post">
  Nombre:<br>
  <input type="text" name="name"><br>
  correo:<br>
  <input type="text" name="email"><br>
  contraseña:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Enviar!">
</form>
