<h2> Inicia sesión </h2>
  <p>Revisa tu cuenta y tus Urls</p>

  <form action="/login" method="post">
  Correo:<br>
  <input type="text" name="email"><br>
  Contraseña:<br>
  <input type="password" name="password">
  <br> <br>
  <input type="submit" value="Entrar">
</form>
<br>
<a href="/home/create">Registrarme</a>
<br>
<a href="/" class="regresar">Regresar a Urls</a>

