<h1>Sign Up</h1>
<% if session[:error] %>
  <p><%= session[:error] %></p>
<% end %>
<div class="container" id="form">
  <!-- ¿Qué va en esta parte para realizar el sign up? -->
  <form method='POST' action='/signup'>
    <div class="form-group">
      <br><br>
      <label for="name">Nombre:</label>
      <input type="text" name="name" placeholder="Escribe tu nombre">
      <label for="email">Email:</label>
      <input type="text" name="email" placeholder="Escribe tu correo">
      <label for="name">password:</label>
      <input type="password" name="password" placeholder="Escribe tu contraseña">
      <input type="submit" class="btn btn-success">
    </div>
  </form>
</div> <!--end "sign up form" div -->
