<div class="row">
  <div class="col-md-12">
    <form method='POST' action='new_user'>
      <div class="form-group">
        <label for="name">Ingresa tu nombre</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
        <input type="submit" class="btn btn-success">
      </div>
    </form>
  </div>
</div>