<div class="row">
  <div class="col-md-12">
    <h1>RESULTADOS</h1>
    <p>Número de intentos: <%= @round.num_guesses %></p>
    <p>Respuestas correctas: <%= @round.correct_guesses %></p>      
    <p> Respuestas incorrectas: <%= @round.incorrect_guesses %></p> 
  </div>
</div>