 <h1>Bienvenido a SiTREC!</h1>
 <p>Inicia sesión o crea una nueva</p>

 <form action="/login" method="post">
 	Correo:<br>
 	<input type="text" name="email"><br>
 	Contraseña:<br>
 	<input type="password" name="password">
 	<br> <br>
 	<input type="submit" value="Entrar">
</form>
<form action="/create" method="get">
	<br> <br>
	<input type="submit" value="Registrarme!">

</form>

<form action="/secret_page" method="get">
	<br> <br>
	<input type="submit" value="Ver página secreta">

</form>

<% if session[:mensaje]%>
	<p><%= session[:mensaje] %><p>
	<% session[:mensaje].clear %>
<%end%>



  
