<h1>Perfil del usuario</h1>

<p>Información del usuario:</p>
<p> Nombre: <%= @user.name %></p>
<p> Correo: <%= @user.email %></p>

<form action="/close" method="get">
	<br> <br>
	<input type="submit" value="Cerrar sesion">

</form>
