<h1>Esta es una página secreta a la que solo pueden acceder si tienen sesión iniciada!!</h1>

<form action="/" method="get">
	<br> <br>
	<input type="submit" value="regresar pagina principal">

</form>

<form action="/close" method="get">
	<br> <br>
	<input type="submit" value="cerrar sesión">

</form>